@import url('https://fonts.googleapis.com/css?family=Orbitron');

:root {
  --purple: #8769f0;
  --yellow: #fcda38;
  --grey: #999;
}
body{
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  margin: 0;
}
#background{
  background: var(--grey);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#drum-machine{
  background: var(--purple);
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 20px;
  border: 3px solid var(--yellow);
  border-radius: 5%;
}
#drum-machine-border{
  border: 3px solid black;
  border-radius: 5%;
}
#pad-container{
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  gap: 3px;
  background: var(--yellow);
  width: 400px;
  height: 350px;
  padding: 5px 5px 6px;
  border: 3px solid black;
  border-radius: 2%;
}
#display{
  width: 83%;
  display: flex;
  justify-content: space-between;
  
}
#display-name{
  background: var(--yellow);
  padding: 10px;
  border-radius: 5%;
  border: 2px solid black;
  width: 54%;
  text-align: center;
}
.drum-pad{
  border: 2px solid black;
  border-radius: 5%;
}
#bank{
  flex-direction: column;
}
#bank-name{
  text-align: center;
}
#bank-switch{
  margin-top: 0;
  background: var(--yellow);
  width: 80%;
  height: 30px;
  border-radius: 10%;
}